* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;

  font-size: 1.11vw;
}

body {
  margin: 0;

  font-family: 'Lato', sans-serif;
  font-size: 1.16rem;
}

header {
  position: fixed;
  z-index: 1111;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;

  transition: all .2s ease;
  text-align: center;

  line-height: 6em;
}

header li {
  display: inline-block;

  padding-right: 1.9em;

  text-decoration: none;
}

header ul {
  float: right;

  margin-right: 5.5em;

  list-style: none;

  text-decoration: none;
}

header a {
  padding-right: 1.9em;

  text-decoration: none;

  color: #000;
}

#active {
  color: #2A3094;
}

header a:last-of-type:hover {
  transition: 0.1s;

  color: #2A3094;
}

header p {
  float: left;

  margin-left: 9.3em;
  padding-top: 0;

  font-size: 1.16rem;
  font-weight: 500;
  line-height: 6em;
}

.menu-trigger {
  display: none;

  text-align: center;
}

article {
  margin-left: 9.3em;
  padding: 0;
}

.about {
  width: 100%;
  height: 48em;
  padding-left: 9.3em;

  background-image: url(../../images/pencil-poster-bg.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 46.3em;
}

.about h1 {
  width: 10em;
  padding-top: 5em;

  font-size: 3rem;
  font-weight: bold;
  line-height: 144%;
}

.about p {
  width: 24em;
  padding-top: 2em;
  padding-bottom: 4em;

  font-size: 1.2rem;
  line-height: 144%;
}

.about a {
  color: #2A3094;

  font-size: 1.2rem;
}

.arrow {
  position: absolute;
  z-index: 1;
  top: 39.3em;
  right: 48.45%;

  width: 2.6em;

  cursor: pointer;
  text-align: center;
}

.tasktime {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 12em;
  padding-top: 4em;
  padding-right: 9.3em;

  flex-wrap: wrap;
  justify-content: space-between;
}

.task {
  width: 10.3em;
}

h3 {
  color: #B6B6B6;

  font-size: 1.5rem;
  font-weight: bold;
}

.task, .problem, .reasearch, p {
  padding-top: 1em;

  font-size: 1.5rem;
  line-height: 144%;
}

h2 {
  width: 20em;
  margin-top: 3.2em;
  margin-left: 1.38em;

  text-align: center;

  font-size: 3rem;
  font-weight: bold;
  line-height: 144%;
}

.problem-solution {
  display: flex;
  flex-direction: row;

  width: 97%;
  height: 10em;
  padding-top: 5.4em;
  padding-right: 7em;

  justify-content: space-between;
}

.problem {
  width: 16em;
}

.animation {
  width: 50%;
  height: 40em;
  margin-top: 18.2em;
  margin-bottom: 7.3em;
  margin-left: 23.7%;

  background-image: url(../../images/animation.gif);
  background-repeat: no-repeat;
  background-size: contain;
}

.mockup3-mobile,
.mockup4-mobile,
.mockup5-mobile,
.mockup6-mobile,
.mockup7-mobile,
.mockup8-mobile {
  display: none;
}

.mockup1,
.mockup2,
.mockup3,
.mockup4,
.mockup5,
.mockup6,
.mockup7 {
  width: 86.5%;
  height: 42em;
  margin-bottom: 0;

  background-repeat: no-repeat;
  background-size: contain;
}

.mockup1, .mockup2, .mockup5 {
  margin-top: 5.5em;
}

.mockup3, .mockup4, .mockup6, .mockup7 {
  margin-top: 3.5em;
}

.mockup1 {
  background-image: url(../../images/mockup1.jpg);
}

.mockup2 {
  background-image: url(../../images/mockup2.jpg);
}

.mockup3 {
  background-image: url(../../images/mockup3.jpg);
}

.mockup4 {
  background-image: url(../../images/mockup4.jpg);
}

.mockup5 {
  background-image: url(../../images/mockup5.jpg);
}

.mockup6 {
  background-image: url(../../images/mockup6.jpg);
}

.mockup7 {
  background-image: url(../../images/mockup7.jpg);
}

.research p, .typography p, .graphic p {
  width: 75.5%;
}

h5 {
  padding-top: 0.7em;

  font-size: 1.07rem;
  line-height: 144%;
}

.research-process {
  display: flex;
  flex-direction: row;

  width: 86.5%;
  padding-top: 3.8em;

  justify-content: space-between;
  flex-wrap: wrap;
}

.typography, .graphic {
  padding-top: 8.8em;
}

.haveyouseenit {
  width: 100%;
  margin-top: 9em;

  background-color: #F6F6F6;
}

.haveyouseenit h4 {
  padding-top: 2em;

  text-align: center;

  font-size: 2rem;
}

.haveyouseenit-photos {
  display: flex;

  width: 88%;
  padding-top: 2em;
  padding-bottom: 8.7em;
  padding-left: 9.3em;

  justify-content: space-between;
}

.preview {
  width: 14em;
  height: 10em;
  padding-top: 1.8em;
}

.preview img {
  width: 100%;
  height: auto;
}

footer {
  display: flex;
  flex-direction: row;

  height: 12em;
  margin-top: 0;
  padding-top: 2.5em;
  padding-left: 9.3em;

  background-color: #5F5F5F;

  justify-content: space-between;
}

footer p, footer h3, footer h4, footer a {
  color: #ededed;
}

footer p {
  font-size: 1rem;
  line-height: 140%;
}

.share {
  display: flex;
  flex-direction: column;
}

#share {
  padding-bottom: 0.6em;
  padding-left: 1em;
}

footer h3 {
  padding-top: 0.7em;

  font-size: 0.9rem;
}

footer h4 {
  padding-top: 0.88em;

  font-size: 0.8rem;
}

.share-list {
  display: flex;
  flex-direction: row;
}

.share-list a {
  overflow: hidden;

  width: 2.6em;
  height: 2.6em;
  margin: 0.6em;
  padding: 0.4em;

  cursor: pointer;

  border-radius: 100px;
}

.share-list img {
  width: 100%;
  height: 100%;

  filter: invert(100%);
}

a.fb-h {
  background: #3B5998;
}

a.tw-h {
  background: #00acee;
}

a.li-h {
  background: #0077B5;
}

a.re-h {
  background: #FF5700;
}

a.pi-h {
  background: #c8232c;
}

.share-buttons-container {
  display: flex;
  float: right;

  padding-right: 9.3em;

  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 768px) {

  header p {
    margin-left: 4.7em;
    padding-top: 0;

    font-size: 2.2rem;
  }

  header ul {
    display: flex;
    float: right;
    flex-direction: column;

    margin-left: 20em;
    padding-top: 0;
    padding-right: 0.8em;

  }

  header li {
    display: block;

    padding: 0;

    text-align: center;

    border-bottom: 0.01em solid #656565;

    font-size: 2.2rem;
  }

  header a:not(.menu-trigger) {
    padding: 0;
  }

  header ul {
    display: none;
  }

  .menu-trigger {
    display: block;
    float: right;

    margin-top: 3em;
    margin-right: 7em;
  }

  .about {
    height: 105em;

    background-image: url(../../images/pencil-poster-bg.png);
    background-position: right no-repeat;
    background-size: cover;
  }

  .about h1 {
    padding-top: 7.9em;

    font-size: 5rem;
  }

  .about p {
    padding-top: 2em;

    font-size: 2.5rem;
  }

  .about a {
    font-size: 2.5rem;
  }

  .arrow {
    top: 45.5em;
  }

  .tasktime {
    display: inline-block;

    padding-top: 10.8em;
    padding-right: 9.3em;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  .task {
    width: 100%;
    padding-bottom: 1em;
  }

  .task:nth-child(3) {
    width: 35%;
  }

  h3 {
    color: #B6B6B6;

    font-size: 2.5rem;
    font-weight: bold;
  }

  .research {
    display: inline-block;

    padding-top: 3.3em;
  }

  .research p, .typography p, .graphic p {
    width: 86.5%;
  }

  .task, .problem, .reasearch, p {
    padding-top: 1em;

    font-size: 2.5rem;
    line-height: 144%;
  }

  h2 {
    width: 87.5%;
    margin-top: 3em;
    margin-left: 0;

    text-align: left;

    font-size: 4rem;

  }

  .problem-solution {
    display: inline-block;

    width: 100%;
    height: 10em;
    padding-top: 10.3em;
  }

  .problem {
    width: 100%;
    padding-bottom: 1em;
  }

  .animation,
  .mockup3-mobile,
  .mockup4-mobile,
  .mockup5-mobile,
  .mockup6-mobile,
  .mockup7-mobile,
  .mockup8-mobile {
    display: inline-block;

    width: 86.5%;
    height: 86em;
    margin-left: 0;

    background-position: left;
    background-size: cover;
  }

  .animation {
    margin-top: 11.2em;
  }

  .mockup2,
  .mockup5-mobile {
    margin-top: 8em;
  }

  .mockup3-mobile,
  .mockup4-mobile,
  .mockup6-mobile,
  .mockup7-mobile,
  .mockup8-mobile,
  .mockup7 {
    margin-top: 5.2em;
  }

  .mockup3,
  .mockup4,
  .mockup5,
  .mockup6 {
    display: none;
  }

  .mockup3-mobile {
    border: 0.1em solid #dbdbdb;
    background-image: url(../../images/mockup3-mobile.png);
  }

  .mockup4-mobile {
    background-image: url(../../images/mockup4-mobile.png);
  }

  .mockup5-mobile {
    background-image: url(../../images/mockup5-mobile.png);
  }

  .mockup6-mobile {
    border: 0.1em solid #dbdbdb;
    background-image: url(../../images/mockup6-mobile.png);
  }

  .mockup7-mobile {
    background-image: url(../../images/mockup7-mobile.jpg);
  }

  .mockup8-mobile {
    background-image: url(../../images/mockup8-mobile.png);
  }

  h5 {
    width: 25em;
    padding-top: 0.7em;

    font-size: 1.8rem;
    line-height: 144%;
  }

  .haveyouseenit {
    width: 100%;
    margin-top: 11em;

    background-color: #F6F6F6;
  }

  .haveyouseenit h4 {
    padding-top: 2.4em;

    text-align: center;

    font-size: 2.5rem;
  }

  .haveyouseenit-photos {
    display: flex;

    padding-top: 3.7em;
    padding-bottom: 10.5em;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  .preview {
    width: 29.2em;
    height: 25.2em;
    padding-top: 1.8em;
  }

  .haveyouseenit-photos a:last-of-type {
    display: none;
  }

  .preview img {
    width: 100%;
    height: auto;
  }

  footer {
    display: flex;
    flex-direction: column;

    margin-top: 0;
    padding-top: 17.4em;
    padding-bottom: 18.5em;

    justify-content: space-around;
  }

  .share-buttons-container {
    padding-left: 0;

    justify-content: flex-start;
  }

  .share-list a {
    width: 4em;
    height: 4em;
    margin: 1em;
    padding: 0.6em;
  }

  .share-list a:first-of-type {
    margin-left: 0;
  }

  footer p {
    font-size: 2rem;
    line-height: 140%;
  }

  #share {
    padding-top: 2em;
    padding-bottom: 0.6em;
    padding-left: 0;
  }

  footer h3 {
    padding-top: 0.9em;

    font-size: 1.8rem;
  }

  footer h4 {
    padding-top: 1.2em;

    font-size: 1.7rem;
  }

}
