* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  /*overflow-x: hidden;*/
  font-size: 1.11vw;
}

body:not(.about) {
  margin: 0;

  font-family: 'Lato', sans-serif;
  font-size: 1.16rem;
}

header {
  position: fixed;
  z-index: 1111;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;

  transition: all .2s ease;
  text-align: center;

  line-height: 6em;
}

header li {
  display: inline-block;

  padding-right: 1.9em;

  text-decoration: none;
}

header ul {
  float: right;

  margin-right: 5.5em;

  list-style: none;

  text-decoration: none;
}

header a {
  padding-right: 1.9em;

  text-decoration: none;

  color: #000;
}

#active {
  color: #2A3094;
}

header a:last-of-type:hover {
  transition: 0.1s;

  color: #2A3094;
}

header p {
  float: left;

  margin-left: 9.3em;

  font-size: 1.16rem;
  font-weight: 500;
  line-height: 6em;
}

.menu-trigger {
  display: none;

  text-align: center;
}

.about {
  height: 38em;
  padding-left: 9.3em;

  background-color: #F6F6F6;
}

.about h1 {
  padding-top: 4.4em;

  font-size: 3rem;
  font-weight: bold;
  line-height: 144%;
}

.about p {
  width: 43em;
  padding-top: 3.3em;

  font-size: 1.5rem;
  line-height: 144%;
}

.purpletext {
  color: #2A3094;
}

.arrow {
  z-index: 1;

  width: 2.6em;
  padding-top: 7.9em;
  padding-bottom: 3.4em;

  cursor: pointer;
}

.square:first-of-type {
  width: 8.5em;
  height: 0.7em;
  margin-top: 9.1em;
}

.square {
  width: 8.5em;
  height: 0.7em;
  margin-top: 16.4em;
}

.module {
  display: flex;
  flex-direction: row;

  margin-right: 9.3em;
  margin-left: 4.1em;

  flex-wrap: wrap;
}

article {
  margin-left: 5.2em;
  padding: 0;
}

.module h2 {
  width: 11em;
  padding-top: 1em;

  font-size: 3rem;
  line-height: 130%;
}

.module p {
  width: 25em;
  padding-top: 2.8em;
  padding-bottom: 2.8em;

  font-size: 1.5rem;
  line-height: 140%;
}

.module a {
  color: #2A3094;

  font-size: 1.2rem;
  font-weight: bold;
}

.module img {
  position: absolute;
  right: 9.3em;

  display: inline-block;

  max-width: 100%;
  height: auto;
}

.module-number {
  position: absolute;
  z-index: 11;
  left: 8.1em;

  padding-top: 3em;

  font-size: 9rem;
  font-weight: bold;
}

.module-photo {
  position: absolute;
  right: 9.3em;

  display: inline-block;

  width: 22.9rem;
  height: 31.5rem;

  background-color: #5F5F5F;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  height: 12em;
  margin-top: 15.6em;

  background-color: #5F5F5F;
}


@media screen and (max-width: 768px) {

  header p {
    margin-left: 4.7em;

    font-size: 2.2rem;
  }

  header ul {
    display: flex;
    float: right;
    flex-direction: column;

    margin-left: 20em;
    padding-top: 0;
    padding-right: 0.8em;
  }

  header li {
    display: block;

    padding: 0;

    text-align: center;

    border-bottom: 0.01em solid #656565;

    font-size: 2.2rem;
  }


  header a:not(.menu-trigger) {
    padding: 0;
  }

  header ul {
    display: none;
  }

  .menu-trigger {
    display: block;
    float: right;

    margin-top: 3em;
    margin-right: 6.8em;
  }

  .about {
    height: 98em;
    padding-left: 9.3em;

    background-color: #F6F6F6;
  }

  .about h1 {
    width: 10em;
    padding-top: 4.2em;

    font-size: 7rem;
  }

  .about p {
    width: 22em;
    padding-top: 4em;

    font-size: 2.5rem;
    line-height: 144%;
  }

  .about img {
    width: 5.6em;
    padding-top: 17.9em;

    cursor: pointer;
  }

  article {
    margin-left: 5.2em;
    padding: 0;
  }

  .module {
    display: flex;
    flex-direction: column;

    margin-right: 9.3em;
    margin-left: 4.1em;

    flex-wrap: wrap;
  }

  .square:first-of-type {
    width: 17em;
    height: 1.4em;
    margin-top: 17.2em;
  }

  .square {
    width: 17em;
    height: 1.4em;
    margin-top: 116.4em;
  }

  .module h2 {
    width: 11em;
    padding-top: 1.6em;

    font-size: 6rem;
  }

  .module p {
    width: 25em;
    padding-top: 2.4em;
    padding-bottom: 3.6em;

    font-size: 2.5rem;
    line-height: 140%;
  }

  .module a {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .images {
    position: relative;
  }

  .module-number {
    left: 3em;

    padding-top: 5.5em;

    font-size: 18rem;
  }

  .module-photo {
    left: 0;

    width: 100%;
    height: 85em;
    margin-top: 8.4em;
  }

  footer {
    height: 24em;
    margin-top: 104.5em;
  }

}
