* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  /*overflow-x: hidden;*/
  font-size: 1.11vw;
}

body:not(.about) {
  margin: 0;

  font-family: 'Lato', sans-serif;
  font-size: 1.16rem;
}

header {
  position: fixed;
  z-index: 1111;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;

  transition: all .2s ease;
  text-align: center;

  line-height: 6em;
}

header li {
  display: inline-block;

  padding-right: 1.9em;

  text-decoration: none;
}

header ul {
  float: right;

  margin-right: 5.5em;

  list-style: none;

  text-decoration: none;
}

header a {
  padding-right: 1.9em;

  text-decoration: none;

  color: #000;
}

#active {
  color: #2A3094;
}

header a:last-of-type:hover {
  transition: 0.1s;

  color: #2A3094;
}

header p {
  float: left;

  margin-left: 9.3em;

  font-size: 1.16rem;
  font-weight: 500;
  line-height: 6em;
}

.menu-trigger {
  display: none;

  text-align: center;
}

.about {
  height: 38em;
  padding-left: 9.3em;

  background-color: #F6F6F6;
}

.about h1 {
  position: absolute;
  z-index: 111;

  padding-top: 4.4em;

  font-size: 3rem;
  font-weight: bold;
  line-height: 144%;
}

.about p {
  position: absolute;
  z-index: 111;

  width: 43em;
  padding-top: 14.9em;

  font-size: 1.5rem;
  line-height: 144%;
}

.purpletext {
  color: #2A3094;
}

.shining-circle {
  position: absolute;
  z-index: -1111;

  width: 25em;
  height: 25em;
  margin-top: 7em;
  margin-left: 50%;

  animation: pulse 3s infinite;

  color: #525588;
  border-radius: 50%;
  border-radius: 50%;
  background: transparent;
  box-shadow: 0 0 2.5em 1.3em;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}

#secondcircle {
  z-index: -1;

  width: 18em;
  height: 18em;
  margin-top: 6em;
  margin-left: 20em;
}

#thirdcircle {
  z-index: -1;

  width: 10em;
  height: 10em;
  margin-top: 20em;
  margin-left: 45%;
}

#fourthcircle {
  z-index: -1;

  width: 15em;
  height: 15em;
  margin-top: 20em;
  margin-left: 0;
  padding: 0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 2.5em 1.3em rgba(82, 85, 136, 80);
  }
  50% {
      -webkit-box-shadow: 0 0 2.5em 1.9em rgba(82, 85, 136, 80);
  }
  100% {
      -webkit-box-shadow: 0 0 2.5em 1.3em rgba(82, 85, 136, 80);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 2.5em 1.3em rgba(82, 85, 136, 80);
    box-shadow: 0 0 2.5em 1.3em rgba(82, 85, 136, 80);
  }
  50% {
      -moz-box-shadow: 0 0 1.3em 1.9em rgba(82, 85, 136, 80);
      box-shadow: 0 0 2.5em 1.9em rgba(82, 85, 136, 80);
  }
  100% {
      -moz-box-shadow: 0 0 1.3em 1.3em rgba(82, 85, 136, 80);
      box-shadow: 0 0 2.5em 1.3em rgba(82, 85, 136, 80);
  }
}

.arrow {
  position: absolute;
  z-index: 1;

  width: 2.6em;
  padding-top: 32.5em;
  padding-bottom: 3.4em;

  cursor: pointer;
}

#square1 {
  width: 8.5em;
  height: 0.7em;
  margin-top: 9.1em;

  background-color: #5D6496;
}

.square {
  width: 8.5em;
  height: 0.7em;
  margin-top: 16.4em;
}

#square2 {
  background-color: #DF4C3B;
}

#square3 {
  background-color: #8DD85A;
}

#square4 {
  background-color: #6D71AA;
}

#square5 {
  background-color: #A7C0D5;
}

#square6 {
  background-color: #1DD39A;
}

#square7 {
  background-color: #dccf26;
}

#square8 {
  background-color: #000;
}

.module {
  display: flex;
  flex-direction: row;

  margin-right: 9.3em;
  margin-left: 4.1em;

  flex-wrap: wrap;
}

article {
  margin-left: 5.2em;
  padding: 0;
}

.module h2 {
  width: 11em;
  padding-top: 1em;

  font-size: 3rem;
  line-height: 130%;
}

.module p {
  width: 25em;
  padding-top: 2.8em;
  padding-bottom: 2.8em;

  font-size: 1.5rem;
  line-height: 140%;
}

.module a {
  color: #2A3094;

  font-size: 1.2rem;
  font-weight: bold;
}

.module img {
  position: absolute;
  right: 9.3em;

  display: inline-block;

  max-width: 100%;
  height: auto;
}

.module-number {
  position: absolute;
  z-index: 11;
  left: 8.1em;

  padding-top: 3em;

  font-size: 9rem;
  font-weight: bold;
}

.module img {
  position: absolute;
  right: 9.3em;

  display: inline-block;

  width: 22.9rem;
  height: 31.5rem;

  background-color: #5F5F5F;
  background-repeat: no-repeat;
  background-size: contain;
}

footer {
  display: flex;
  flex-direction: row;

  height: 12em;
  margin-top: 15.6em;
  padding-top: 3.2em;
  padding-left: 9.3em;

  background-color: #5F5F5F;

  justify-content: space-between;
}

footer p, h3, h4, a {
  color: #ededed;
}

footer p {
  font-size: 1rem;
  line-height: 140%;
}

.share {
  display: flex;
  flex-direction: column;
}

#share {
  padding-bottom: 0.6em;
  padding-left: 1em;
}

footer h3 {
  padding-top: 0.7em;

  font-size: 0.9rem;
}

footer h4 {
  padding-top: 0.88em;

  font-size: 0.8rem;
}

.share-list {
  display: flex;
  flex-direction: row;
}

.share-list a {
  overflow: hidden;

  width: 2.6em;
  height: 2.6em;
  margin: 0.6em;
  padding: 0.4em;

  cursor: pointer;

  border-radius: 100px;
}

.share-list img {
  width: 100%;
  height: 100%;

  filter: invert(100%);
}

a.fb-h {
  background: #3B5998;
}

a.tw-h {
  background: #00acee;
}

a.li-h {
  background: #0077B5;
}

a.re-h {
  background: #FF5700;
}

a.pi-h {
  background: #c8232c;
}

.share-buttons-container {
  display: flex;
  float: right;

  padding-right: 9.3em;

  justify-content: center;
  align-items: center;
}





@media screen and (max-width: 768px) {

  header p {
    margin-left: 4.7em;

    font-size: 2.2rem;
  }

  header ul {
    display: flex;
    float: right;
    flex-direction: column;

    margin-left: 20em;
    padding-top: 0;
    padding-right: 0.8em;
  }

  header li {
    display: block;

    padding: 0;

    text-align: center;

    border-bottom: 0.01em solid #656565;

    font-size: 2.2rem;
  }

  header a:not(.menu-trigger) {
    padding: 0;
  }

  header ul {
    display: none;
  }

  .menu-trigger {
    display: block;
    float: right;

    margin-top: 3em;
    margin-right: 6.8em;
  }

  .about {
    height: 98em;
    padding-left: 9.3em;

    background-color: #F6F6F6;
  }

  .shining-circle {
    top: 40em;
    right: 9.3em;

    width: 35em;
    height: 35em;
  }

  #secondcircle {
    z-index: -1;

    width: 10em;
    height: 10em;
    margin-top: 1em;
    margin-left: 0;
  }

  #thirdcircle {
    z-index: -1;

    width: 10em;
    height: 10em;
    margin-top: 20em;
    margin-left: 45%;
  }

  #fourthcircle {
    z-index: -1;

    width: 15em;
    height: 15em;
    margin-top: 20em;
    margin-left: 0;
    padding: 0;
  }

  .about h1 {
    width: 10em;
    padding-top: 4.2em;

    font-size: 7rem;
  }

  .about p {
    width: 22em;
    padding-top: 23.7em;

    font-size: 2.5rem;
    line-height: 144%;
  }

  .about img {
    width: 5.6em;
    padding-top: 87em;

    cursor: pointer;
  }

  article {
    margin-left: 5.2em;
    padding: 0;
  }

  .module {
    display: flex;
    flex-direction: column;

    margin-right: 9.3em;
    margin-left: 4.1em;

    flex-wrap: wrap;
  }

  #square1 {
    width: 17em;
    height: 1.4em;
    margin-top: 17.2em;
  }

  .square {
    width: 17em;
    height: 1.4em;
    margin-top: 116.4em;
  }

  .module h2 {
    width: 11em;
    padding-top: 1.6em;

    font-size: 6rem;
  }

  .module p {
    width: 25em;
    padding-top: 2.4em;
    padding-bottom: 3.6em;

    font-size: 2.5rem;
    line-height: 140%;
  }

  .module a {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .images {
    position: relative;
  }

  .module-number {
    left: 3em;

    padding-top: 5.5em;

    font-size: 18rem;
  }

  .module-photo img {
    width: 76%;
    height: auto;
    margin-top: 8.4em;
    margin-left: 9.3em;
  }

  footer {
    display: flex;
    flex-direction: column;

    margin-top: 104.5em;
    padding-top: 17.4em;
    padding-bottom: 17.1em;

    justify-content: space-around;

  }

  .share-buttons-container {
    padding-left: 0;

    justify-content: flex-start;
  }

  .share-list a {
    width: 4em;
    height: 4em;
    margin: 1em;
    padding: 0.6em;
  }

  .share-list a:first-of-type {
    margin-left: 0;
  }

  footer p {
    font-size: 2rem;
    line-height: 140%;
  }

  #share {
    padding-top: 2em;
    padding-bottom: 0.6em;
    padding-left: 0;
  }

  footer h3 {
    padding-top: 0.9em;

    font-size: 1.8rem;
  }

  footer h4 {
    padding-top: 1.2em;

    font-size: 1.7rem;
  }

}
