* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;

  font-size: 1.11vw;
}

body {
  margin: 0;

  font-family: 'Lato', sans-serif;
  font-size: 1.16rem;
}

header {
  position: fixed;
  z-index: 1111;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;

  transition: all .2s ease;
  text-align: center;

  line-height: 6em;
}

header li {
  display: inline-block;

  padding-right: 1.9em;

  text-decoration: none;
}

header ul {
  float: right;

  margin-right: 5.5em;

  list-style: none;

  text-decoration: none;
}

header a {
  padding-right: 1.9em;

  text-decoration: none;

  color: #000;
}

#active {
  color: #2A3094;
}

header a:last-of-type:hover {
  transition: 0.1s;

  color: #2A3094;
}

header p {
  float: left;

  margin-left: 9.3em;

  font-size: 1.16rem;
  font-weight: 500;
  line-height: 6em;
}

.menu-trigger {
  display: none;

  text-align: center;
}

.myphoto {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 39em;

  background-image: url(../../images/myphoto.jpg);
  background-position: 50% 30%;
  background-size: cover;;
}

.arrow {
  position: absolute;
  z-index: 1;
  top: 34.3em;
  right: 48.45%;

  width: 2.6em;

  cursor: pointer;
  text-align: center;

  filter: brightness(300%);
}

article:not(.other) {
  padding: 0;
}

.container {
  margin-left: 9.3em;
}

h2 {
  padding-top: 4em;

  font-size: 2.5rem;
  font-weight: bold;
  line-height: 130%;
}

.sayhi p {
  width: 33.5em;
  padding-top: 2em;

  font-size: 1.5rem;
  line-height: 144%;
}

a {
  text-decoration: none;
}

.btn {
  width: 15em;
  height: 4em;
  margin-top: 4em;
  padding-top: 1.38em;
  padding-left: 1.19em;

  cursor: pointer;
  transition: all ease .5s;

  color: #2A3094;
  border: 0.1em #2A3094 solid;
  background-color: transparent;
  box-shadow: 0.3em 0.3em 0.1em 0.06em rgba(0, 0, 0, .1);

  font-size: 1.3rem;
}

.btn:hover {
  color: #9da1df;
}

.btn:before {
  position: relative;
  top: 5px;
  left: -3.7em;

  float: left;

  width: 3em;
  height: 0.01em;

  content: "";
  transition: all ease .5s;

  border-bottom: 0.1em solid #2A3094;
}

.btn:hover:before {
  left: 13em;
}

.whatican-pictures {
  display: flex;
  flex-direction: row;

  width: 86.5%;
  padding-top: 2em;

  justify-content: space-between;
  flex-wrap: wrap;
}

.picture {
  width: 12em;
  height: 12em;

  opacity: 0.5;
}

.cando {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.cando p {
  margin-top: 1.3em;

  font-size: 1.5rem;
}

.other {
  display: flex;

  width: 100%;
  margin-top: 9.2em;
  padding-top: 2em;
  padding-bottom: 4em;
  padding-left: 9.3em;

  background-color: #F6F6F6;

  justify-content: space-between;
}

.other-info {
  width: 15em;

  line-height: 180%;
}

.other-info a {
  text-decoration: underline;
}

footer {
  height: 12em;

  background-color: #656565;
}

@media screen and (max-width: 768px) {

  header p {
    margin-left: 4.7em;

    font-size: 2.2rem;
  }

  header ul {
    display: flex;
    float: right;
    flex-direction: column;

    margin-left: 20em;
    padding-top: 0;
    padding-right: 0.8em;

  }

  header li {
    display: block;

    padding: 0;

    text-align: center;

    border-bottom: 0.01em solid #656565;

    font-size: 2.2rem;
  }


  header a:not(.menu-trigger) {
    padding: 0;
  }

  header ul {
    display: none;
  }

  .menu-trigger {
    display: block;
    float: right;

    margin-top: 3em;
    margin-right: 6.8em;
  }

  .myphoto {
    height: 91em;
  }

  .arrow {
    width: 5.6em;
    padding-top: 45em;

    cursor: pointer;
  }

  h2 {
    width: 10em;
    padding-top: 2.3em;

    font-size: 6rem;
  }

  .sayhi p {
    padding-top: 2.4em;
    padding-right: 6.8em;

    font-size: 2.5rem;
    line-height: 140%;
  }

  #writeme {
    margin-top: 2.7em;

    font-size: 2.5rem;
  }

  .whatican-pictures {
    padding-top: 4.4em;
  }

  .picture {
    width: 21em;
    height: 21em;

    opacity: 0.5;
  }

  .cando p {
    margin-top: 0.9em;
    margin-bottom: 2.3em;

    font-size: 2rem;
  }

  .other {
    display: inline-block;

    width: 100%;
    margin-top: 5.7em;
    padding-top: 4.2em;
    padding-bottom: 3.7em;
    padding-left: 9.3em;

    background-color: #F6F6F6;

    justify-content: space-between;
  }

  .other-info {
    width: 15em;
    padding-bottom: 2.5em;

    font-size: 2.5rem;
    line-height: 144%;
  }

  footer {
    height: 24em;
  }



}
