* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: grid;

  margin-right: 150px;
  margin-left: 150px;

  grid-gap: 1.25em;
  grid-template-columns: repeat(12, 1fr);
}




header ul {

}


li:first-of-type {

 }

li:nth-child(2) {

}

li:nth-child(3) {

}
