* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;

  font-size: 1.11vw;
}

body {
  margin: 0;

  font-family: 'Lato', sans-serif;
  font-size: 1.16rem;
}

header {
  position: fixed;
  z-index: 1111;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;

  transition: all .2s ease;
  text-align: center;

  line-height: 6em;
}

header li {
  display: inline-block;

  padding-right: 1.9em;

  text-decoration: none;
}

header ul {
  float: right;

  margin-right: 5.5em;

  list-style: none;

  text-decoration: none;
}

header a {
  padding-right: 1.9em;

  text-decoration: none;

  color: #000;
}

#active {
  color: #2A3094;
}

header a:last-of-type:hover {
  transition: 0.1s;

  color: #2A3094;
}

header p {
  float: left;

  margin-left: 9.3em;
  padding-top: 0;

  font-size: 1.16rem;
  font-weight: 500;
  line-height: 6em;
}

.menu-trigger {
  display: none;

  text-align: center;
}

article {
  margin-left: 9.3em;
  padding: 0;
}

.about {
  width: 100%;
  height: 48em;
  padding-left: 9.3em;

  background-image: url(../../images/webposter2-main.png);
  background-repeat: no-repeat;
  background-position: center 17em;
  background-size: 70% auto;
}

.about h1 {
  width: 15em;
  padding-top: 5em;

  font-size: 3rem;
  font-weight: bold;
  line-height: 144%;
}

.about p {
  width: 21em;
  padding-top: 2em;
  padding-bottom: 4em;

  font-size: 1.2rem;
  line-height: 144%;
}

.about a {
  color: #2A3094;

  font-size: 1.2rem;
}

.arrow {
  position: absolute;
  z-index: 1;
  top: 42.3em;
  right: 48.45%;

  width: 2.6em;

  cursor: pointer;
  text-align: center;
}

.tasktime {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 12em;
  padding-top: 4em;
  padding-right: 9.3em;

  flex-wrap: wrap;
  justify-content: space-between;
}

.task {
  width: 10.3em;
}

h3 {
  color: #B6B6B6;

  font-size: 1.5rem;
  font-weight: bold;
}

.task, .problem, .reasearch, p {
  padding-top: 1em;

  font-size: 1.5rem;
  line-height: 144%;
}

h2 {
  width: 20em;
  margin-top: 3.2em;
  margin-left: 1.38em;

  text-align: center;

  font-size: 3rem;
  font-weight: bold;
  line-height: 144%;
}

h2:last-of-type {
  margin-top: 2.5em;
}

.problem-solution {
  display: flex;
  flex-direction: row;

  width: 86.5%;
  height: 10em;
  padding-top: 5.4em;

  justify-content: space-between;
}

.problem {
  width: 20em;
}

.mockup1,
.style,
.trello,
.it-works,
.mockup2 {
  width: 86.5%;
  margin-right: 9.3em;

  background-repeat: no-repeat;
  background-size: cover;
}

.it-works, .mockup1 {
  height: 38.5em;
  margin-bottom: 2.6em;
}

.mockup1 {
  margin-top: 14.5em;

  background-image: url(../../images/webposter2-mockup2.png);
}

.it-works {
  margin-top: 0.9em;

  background-image: url(../../images/webposter2-how-it-works.jpg);
}

.trello {
  height: 38.5em;
  margin-top: 5.5em;

  background-image: url(../../images/webposter2-reference.png);
}

.style {
  height: 26em;
  margin-top: 3.6em;

  background-image: url(../../images/webposter2-style.png);
}

.mockup2 {
  height: 38.5em;
  margin-top: 4.7em;

  background-image: url(../../images/webposter2-mockup.png);
}

.code img {
  width: 86.5%;
}

.research, .page-of-diary {
  padding-top: 4.8em;
}

.main-page-of-diary {
  padding-top: 7em;
}

.research p, .main-page-of-diary p, .page-of-diary p {
  width: 86.5%;
  padding-right: 4em;
}

.research-process {
  display: flex;
  flex-direction: row;

  width: 86.5%;
  padding-top: 5.4em;

  justify-content: space-between;
  flex-wrap: wrap;
}

h5 {
  width: 25em;
  padding-top: 1.4em;

  font-size: 1.07rem;
  line-height: 144%;
}


.haveyouseenit {
  width: 100%;
  margin-top: 7.5em;

  background-color: #F6F6F6;
}

.haveyouseenit h4 {
  padding-top: 2em;

  text-align: center;

  font-size: 2rem;
}

.haveyouseenit-photos {
  display: flex;

  width: 88%;
  padding-top: 2em;
  padding-bottom: 8.7em;
  padding-left: 9.3em;

  justify-content: space-between;
}

.preview {
  width: 14em;
  height: 10em;
  padding-top: 1.8em;
}

.preview img {
  width: 100%;
  height: auto;
}

footer {
  height: 12em;

  background-color: #5F5F5F;
}


@media screen and (max-width: 768px) {

  header p {
    margin-left: 4.7em;
    padding-top: 0;

    font-size: 2.2rem;
  }

  header ul {
    display: flex;
    float: right;
    flex-direction: column;

    margin-left: 20em;
    padding-top: 0;
    padding-right: 0.8em;

  }

  header li {
    display: block;

    padding: 0;

    text-align: center;

    border-bottom: 0.01em solid #656565;

    font-size: 2.2rem;
  }

  header a:not(.menu-trigger) {
    padding: 0;
  }

  header ul {
    display: none;
  }

  .menu-trigger {
    display: block;
    float: right;

    margin-top: 3em;
    margin-right: 6.8em;
  }

  .about {
    height: 105em;

    background-image: url(../../images/webposter1-mockup1-mobile.png);
    background-position: center;
    background-size: cover;
  }

  .about h1 {
    width: 15em;
    padding-top: 4.5em;

    font-size: 5rem;
  }

  .about p {
    padding-top: 2em;

    font-size: 2.5rem;
  }

  .about a {
    font-size: 2.5rem;
  }

  .arrow {
    top: 45.5em;

    filter: brightness(300);
  }

  .tasktime {
    display: inline-block;

    padding-top: 7.9em;
    padding-right: 9.3em;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  .task {
    width: 100%;
    padding-bottom: 1em;
  }

  h3 {
    color: #B6B6B6;

    font-size: 2.5rem;
    font-weight: bold;
  }

  .task, .problem, .reasearch, p {
    padding-top: 1em;

    font-size: 2.5rem;
    line-height: 144%;
  }

  h2 {
    width: 87.5%;
    margin-top: 3em;
    margin-left: 0;

    text-align: left;

    font-size: 4rem;
  }

  .problem-solution {
    display: inline-block;

    width: 86.5%;
    height: 10em;
    padding-top: 7.7em;
  }

  .problem {
    width: 100%;
    padding-bottom: 1em;
  }

  .mockup1, .style {
    width: 86.5%;
    height: 40em;
    margin-bottom: 0;

    background-size: cover;
  }

  .mockup1 {
    margin-top: 11.2em;
  }

  .style {
    margin-top: 5.2em;
  }


  h5 {
    width: 25em;
    padding-top: 1.1em;

    font-size: 1.8rem;
    line-height: 144%;
  }

  h5:last-of-type {
    padding-bottom: 0.8em;
  }

  .research-process {
    display: inline-block;

    padding-top: 8em;
  }

  .research {
    padding-top: 10.8em;
  }

  .page-of-diary {
    padding-top: 6.5em;
  }

  .main-page-of-diary {
    padding-top: 10.7em;
  }

  .haveyouseenit {
    width: 100%;
    margin-top: 11em;

    background-color: #F6F6F6;
  }

  .haveyouseenit h4 {
    padding-top: 2.4em;

    text-align: center;

    font-size: 2.5rem;
  }

  .haveyouseenit-photos {
    display: flex;

    padding-top: 3.7em;
    padding-bottom: 10.5em;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  .preview {
    width: 29.52em;
    height: 22em;
  }

  footer {
    height: 12em;

    background-color: #5F5F5F;
  }

}
